nav .brand-logo,
nav ul a {
    color: #444
}

p {
    line-height: 2rem
}

.sidenav-trigger {
    color: rgb(156, 136, 146);
}

.parallax-container .section {
    width: 100%
}

@media only screen and (max-width:992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%
    }
    #index-banner .section {
        top: 10%
    }
}

@media only screen and (max-width:600px) {
    #index-banner .section {
        top: 0
    }
}

.icon-block {
    padding: 0 15px
}

.icon-block .material-icons {
    font-size: inherit
}

footer.page-footer {
    margin: 0
}

.waves-effect.waves-eggplant .waves-ripple {
    background-color: rgba(156, 136, 146, 0.65);
}